/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";
 .modal-card {
    overflow: visible !important;
    height: 40em;
    width: 90%;
 }

 .modal input[type="submit"] {
    display: none !important;
 }
 .datetimepicker.is-datetimepicker-default .datetimepicker-container {
    width: 22rem; 
}
.datetimepicker {
    max-width: 360px;
}

.section {
    padding: 0rem 0rem !important; 
}
.table {
    width: 100% !important;
}

.table_action_buttons > .button_to  {
    display: inline !important;
}

.lecture-panel {
    display: flex !important;
    justify-content: space-evenly;
    flex-direction: row;
}

.form-track {
    display: flex !important;
    justify-content: space-evenly;
    flex-direction: column;
}

.lecture-input {
    width: 65%;
}

.lecture-actions {
    justify-content: flex-end;
    margin: 9px;
    display: flex;
    gap: 19px;
}